@media (max-width: 377px) {
  .max-\[377px\]\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

:root {
  background-color: #e8e8e8;
}

.bc {
  background-color: #e8e8e8;
}

main {
  background-color: #ffffff;
  @apply max-w-4xl mx-auto mt-10;
}

header {
  background-color: #ffffff;
  @apply mx-auto pt-3 pb-4;
}
